@model IEnumerable<DairyWeb.ViewModels.StoryInfo>
@using DairyWeb.CustomHtmlHelpers
@{
    ViewBag.Title = "Index";
}
<h2>истории</h2>
<p>
    @Html.ActionLink("Добави история", "Create")  | @Html.ActionLink("За мен", "Index","MySelf")

</p>
<p>
    
</p>

@foreach (var item in Model)
{
    //  <fieldset>
    <div class="container border">
        <article>@Html.DisplayFor(modelItem => item.Title)</article>
        <table>
            <tr>
                <td><img class="ProfilPicture" src="~/Content/Pictures/@item.ImageUrl " /></td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.StoryDate)</div>
                    <div>
                        @Html.StarRate(item.Rate,6)
                        
                    </div>
                </td>
                <td> @Html.DisplayFor(modelItem => item.StoryText)</td>
                <td>
                    <a href="@Url.Action("Delete", "Story", new { id = item.StoryID })">
                        <img src="~/Content/Images/Delete.gif" />
                    </a>
                </td>
            </tr>
        </table>
    </div>
    // </fieldset>
}
@*</table>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
