@model IEnumerable<DairyWeb.ViewModels.StoryInfo>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Добави история", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoryText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>*@
@foreach (var item in Model)
{
    //  <fieldset>
    <div class="container border">
      <article>@Html.DisplayFor(modelItem => item.Title)</article>  
        <table>
            <tr>
                <td><img class="ProfilPicture" src="@item.ImageUrl" /></td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.StoryDate)</div>
                    <div>@Html.DisplayFor(modelItem => item.Rate)</div>
                </td>

                <td> @Html.DisplayFor(modelItem => item.StoryText)</td>
                <td>
                    <a href="@Url.Action("Delete", "Story", new { id = item.StoryID })">
                        <img src="~/Content/Images/Delete.gif" />
                    </a>
                </td>
            </tr>
        </table>
    </div>
    // </fieldset>
}
@*</table>*@
